img.brand-img {
    width: 4vw;
}
@font-face {
    font-family: room-bold;
    src: url(../fonts/RoomBold.ttf);
}
.fixed-sidebar-left .side-nav > li > a {
    color: #212121;
    padding: 10px 18px;
    /*text-align: center;*/
}
.side-nav > li > a > i {
    margin-right: 10px;
}
.panel.panel-default.card-view.pa-0.left_menu_profile {
    width: 98%;
}
.profile-cover-pic.left_menu_pic {
    /* height: 94%; */
    min-height: 10em;
}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-text {
    font-family: room-bold;
}
.panel-body.tariff_body {
    height: 16em;
    text-align: center;
}
/*button.btn.btn-success.choose_rout {*/
    /*margin-top: 10px;*/
/*}*/
div#datable_1_filter {
    float: right;
    color: black;
    margin-right: 20px;
}
input[type=search] {
    border: 1px solid #b2b2b2;
}
.nav_image{
    margin-left: 64px;
}
img.brand-img {
    width: 100%;
}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap {
    /* width: 100%; */
    padding-top: 2px;
    padding-left: 0px;
}
@media (max-width: 1024px){
    .navbar.navbar-inverse.navbar-fixed-top .mobile-only-brand .nav-header .logo-wrap {
        width: 225px;
        margin-left: 25px;
    }
}
@media (max-width: 1600px)
{
    .navbar.navbar-inverse.navbar-fixed-top a.toggle-left-nav-btn {
        left: 0px;
        position: absolute;
        top: 0;
    }
    .navbar.navbar-inverse.navbar-fixed-top .mobile-only-brand .nav-header .logo-wrap {
        width: 225px;
        margin-left: 5px;
    }
}
@media (max-width: 1024px)
{
    .mobile-nav-close .navbar.navbar-inverse.navbar-fixed-top .mobile-only-nav {
        display: none;
    }
}