body:after{
    background: linear-gradient(68deg, rgba(250,185,54,1) 0%, rgba(250,185,54,1) 20%, rgba(0, 0, 0, 0) 15%, rgba(255, 0, 0, 0) 80%, rgba(0,126,195,1) 75%, rgba(0,126,195,1) 100%);
    height: 190%;
}
p.newMember {
    font-family: room-bold;
    font-size: 4em;
    text-align: center;
    color: #5b5b5b;
}
.col-sm-12.choseName {
    text-align: center;
    font-family: room-bold;
    color: #5b5b5b;
    font-size: 1.3em;
}
input#inputLogin {
    text-align: center;
    border-radius: 0;
    height: 2.5em;
    font-size: 1.35em;
    font-family: room-thin;
}
p#passwordInformation {
    font-family: room-thin;
    color: #5b5b5b;
    font-size: 1.05em;
    text-align: center;
    margin-bottom: 2em;
}
.col-sm-12.addInformation {
    text-align: center;
    font-family: room-bold;
    color: #5b5b5b;
    font-size: 1.3em;
}
input#inputEmailAgain {
    text-align: center;
    border-radius: 0;
    font-family: room-thin;
    height: 2.5em;
    font-size: 1.35em;
}
input#inputEmail {
    text-align: center;
    border-radius: 0;
    font-family: room-thin;
    height: 2.5em;
    font-size: 1.35em;
}
input#inputName, input#inputLastName, input#inputCity, input#inputСountry {
    border-radius: 0;
    font-family: room-thin;
    height: 2.5em;
    font-size: 1.35em;
    text-align: center;
}
h1.loginPassword {
    text-align: center;
    font-family: room-bold;
    color: #5b5b5b;
    font-size: 1.3em;
}
button#backToInter {
    background-color: #5b5b5b;
    color: #ffffff;
    padding: .7em;
    font-size: 1.35em;
    font-family: room-bold;
    border-radius: 0;
}
label#personal_data_label {
    text-align: center;
    text-decoration: underline;
    font-size: 1.05em;
    margin-bottom: 2em;
}
h1.addInformation {
    text-align: center;
    font-family: room-bold;
    color: #5b5b5b;
    font-size: 1.3em;
}
@media screen and (min-width: 1200px) and (max-width: 1382px){

    p.newMember {
        font-size: 2em;
    }

}