@font-face {
    font-family: room-thin;
    src: url(../fonts/RoomThin.ttf);
}
@font-face {
    font-family: room-bold;
    src: url(../fonts/RoomBold.ttf);
}
* {
    -moz-box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}

body {
    /*margin: 0;*/
    height: 100%;
    background: url(../img/background.png);
    /*background: #fefcea; !* Для старых браузров *!*/
    /*background: linear-gradient(to top right, red, blue,#f1da36);*/
    /*padding: 10px;*/
    /*border: 1px solid #333;*/

}
body:after{
    background: linear-gradient(59deg, rgba(250,185,54,1) 0%, rgba(250,185,54,1) 20%, rgba(0, 0, 0, 0) 15%, rgba(255, 0, 0, 0) 80%, rgba(0,126,195,1) 65%, rgba(0,126,195,1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*.col-md-4.bg-left {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 33%;*/
    /*height: 100%;*/
    /*!* background-color: red; *!*/
    /*background: linear-gradient(60deg, rgba(250,185,54,1) 0%, rgba(250,185,54,1) 43%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);*/
/*}*/

.bg-center {
    z-index: 99;
}
.logo{
    text-align: center;
    margin: 4em 0 4em;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input#inputEmail {
    text-align: center;
    border-radius: 0;
    font-family: room-thin;
    height: 2.5em;
    font-size: 1.35em;
}
input#inputPassword {
    text-align: center;
    border-radius: 0;
    height: 2.5em;
    font-size: 1.35em;
    font-family: room-thin;
}
button.btn.btn-default.col-sm-12.start_btn {
    background-color: #5b5b5b;
    color: #ffffff;
    padding: 0.7em;
    font-size: 1.35em;
    font-family: room-bold;
    border-radius: 0;
}
button#registration_btn {
    background-color: #c81e46;
    color: #ffffff;
    padding: .7em;
    font-size: 1.35em;
    font-family: room-bold;
    border-radius: 0;
}
.forgot_pass {
    text-align: center;
    font-family: room-thin;
    text-decoration: underline;
    margin-bottom: 2em;
    font-size: 1.25em;
}
a:link{
    color: #b5b5b5;
}
a:visited{
    color: #b5b5b5; ;
}
.registration_btn {
    text-align: center;
    color: #5b5b5b;
    font-family: room-bold;
}
label#registration_btn_label {
    font-size: 1.35em;
}
.checkbox.personal_data_class {
    font-family: room-thin;
    color: #b5b5b5;
    text-decoration:underline
}
label#personal_data_label {
    text-align: center;
    text-decoration: underline;
    font-size: 1.25em;
}
input#personal_data {
    margin-top: 1em;
}
.form-horizontal .has-feedback .form-control-feedback {
    margin-top: 6px;
}

