@font-face {
    font-family: room-thin;
    src: url(../fonts/RoomThin.ttf);
}
@font-face {
    font-family: room-bold;
    src: url(../fonts/RoomBold.ttf);
}
/*@import url(../dist/css/font-awesome.min.css);*/
* {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}
body {
    /*margin: 0;*/
    height: 100%;
    background: url(../img/background.png);
    /*background: #fefcea; !* Для старых браузров *!*/
    /*background: linear-gradient(to top right, red, blue,#f1da36);*/
    /*padding: 10px;*/
    /*border: 1px solid #333;*/

}
body:after{
    background: url(../img/bg.svg)no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.welc_header{
    font-family: room-bold;
}
.welc_header_list{
    font-family: room-thin;
    font-size: 18px;
}
.welc_result{
    font-family: room-bold;
}
.welc_result_body{
    font-family: room-thin;
    font-size: 18px;
}
button#welc_btn, button#welc_btn_use, button#welc_btn_primer{
    background-color: #c81e46;
    color: #ffffff;
    padding: .7em;
    font-size: 1.35em;
    font-family: room-bold;
    border-radius: 0;
}
/*.btn-default:hover, .btn-default:active:hover, .btn-default:active {*/
    /*color: #fff;*/
    /*background-color: #9a1534;*/
    /*border-color: #adadad;*/
/*}*/
/*.btn-default:hover {*/
    /*color: #fff;*/
    /*background-color: #9a1534;*/
    /*border-color: #adadad;*/
/*}*/
.welc_h1{
    color: #858585;
    /*font-size: 54px;*/
    margin: 40px auto 40px 48px;
}
h1.welc_h1>i{
    font-size: 22px;
}
.welc_h1_title {
    font-size: 30px;
    margin-left: 6em;
}
button#price_btn1, button#price_btn2, button#price_btn3{
    background-color: #fab936;
    color: #ffffff;
    padding: .7em;
    font-size: 1.35em;
    font-family: room-bold;
    border-radius: 0;
    border-color: #fab936;
    margin-top: 20px;
}
.panel-default {
    border-color: #ddd;
    border-radius: 0;
    font-family: room-thin;
    font-size: 18px;
}
.panel-wrapper.collapse.in {
    padding: 22px;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #5b5b5b;
    border-color: #5b5b5b;
    /* border: 1px; */
     border-radius: 0px;
    text-align: center;
    font-family: room-bold;
    font-size: 18px;

}
.panel-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    /* color: inherit; */
    text-align: center;
}
.pull-left {
    float: none;
}
.block {
    width: 100px;
    height: 100px;
    /* background: #464342; */
    border: 2px solid #b2b2b2;
    border-radius: 100%;
    /* border-top: 6px solid #423D3B; */
    transform: rotate(-45deg);
    /* box-shadow: 0 0 1px #000 inset,
                0 0 2px #fff inset,
                0 0 1px #000; */
}

p.block_p {
    transform: rotate(44deg);
    text-align: center;
    /* font: 40px Arial; */
    margin: -7px 0 0 0px;
    color: #000;
    font-family: room-thin;
    font-size: 72px;
}
#vert{
    height: 135px;
    width: 3px;
    /* border: none; */
    border-left: 2px solid #b2b2b2;
    position: absolute;
    margin: 9px 0px 0px 49px;
}
#vert2{
    height: 162px;
    width: 3px;
    /* border: none; */
    border-left: 2px solid #b2b2b2;
    position: absolute;
    margin: 9px 0px 0px 49px;
}
@media (max-width: 991px){
    .block, p.block_p, #vert, #vert2 {
        display: none;
    }

}
.container-margin-bottom{
    margin-bottom: 50px;
}
#triangle-topright {
    /* clear: right; */
    width: 0px;
    height: 0;
    border-top: 720px solid #007ec3;
    border-left: 300px solid transparent;
    /* float: right; */
    position: absolute;
    display: block;
    /* float: right; */
    /* margin-bottom: -200px; */
    /* vertical-align: top; */
    /* margin-right: 19px; */
    margin-left: 81%;
    margin-top: 0;
}
#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 407px solid #007ec3;
    border-left: 207px solid transparent;
    position: absolute;
    /* margin-bottom: 100%; */
    /* margin-right: 81%; */
    margin-left: 87%;
    margin-top: 110%;
}
.papa {
    width: 250px;
}