<div class="container-fluid pt-25">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-info card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-light">Добро пожаловать в конструктор
                            EXERACE</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div  class="panel-wrapper collapse in">
                    <div  class="panel-body">
                        <p>Вам предстоит узнать, что такое работающий маркетинг, изучить множество новых инструментов,
                            стать более результативным.</p>
                        <p>Для этого Вам необходимо будем пройти следующие этапы нашего конструктора:</p>
                        <ul>
                            <li>Диагностика, которая позволит подобрать подходящий для Вас маршрут с учетом Ваших запросов,
                                проблем, ожидаемых результатов и многих других факторов.</li>
                            <li>Построение маршрута - после подтверждения Вами всех сделанных на этапе Диагностики выборов,
                                алгоритм выдает подходящий для Вас маршрут.</li>
                        </ul>
                        <br>
                        <p align="center"><strong>Обращаем Ваше внимание, что после формирования маршрута, нельзя будет
                            исправить данные, которые Вы ввели во время Диагностики, и заново сформировать маршрут. Поэтому
                            будьте внимательны при подтверждении выборов!</strong></p>
                        <p>Прохождение маршрута - по сути это выполнение заданий с использование бизнес-инструментов
                            предложенных маршрутом, и заданной им очередности.</p>
                        <p>Ну вот! <br>Вы практически готовы приступить к личному знакомству с конструктором exeRace!
                            <br>Осталось только выбрать наиболее подходящий для Вас формат <br>Обращаем Ваше внимаение!
                            <br>от 10 до 40 часов требуется Технологу для проведения Вас по маршруту exeRace.
                            <br>Количество часов зависит от маршрута, который Вам подберет конструктор, исходя из Ваших запросов.</p>
                        <p align="center">Если Вы еще не решили, как Вам поступить, то предлагаем Вам пройти
                            бесплатное тестирование. Если же Вы определились и хотите начать работу с конструктором, то желаем Вам удачи</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view pb-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pb-0">
                        <div class="row">
                            <!-- item -->
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                                <div class="panel panel-pricing mb-0">
                                    <div class="panel-heading">
                                        <i class=" ti-bookmark-alt"></i>
                                        <h6>Базовый</h6>
                                    </div>
                                    <div class="panel-body text-center pl-0 pr-0 column">
                                        <hr class="mb-30"/>
                                        <ul class="list-group mb-0 text-center">
                                            <li class="list-group-item"><i class="fa fa-check"></i> Пройду самостоятельно</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> 35 000 руб./маршрут</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> построение 1 маршрута exeRace</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer pb-35">
                                        <a class="btn btn-success btn-rounded btn-lg" href="#">Выбрать</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                                <div class="panel panel-pricing mb-0">
                                    <div class="panel-heading">
                                        <i class="ti-wallet"></i>
                                        <h6>Стандарт</h6>
                                    </div>
                                    <div class="panel-body text-center pl-0 pr-0 column">
                                        <hr class="mb-30"/>
                                        <ul class="list-group mb-0 text-center">
                                            <li class="list-group-item"><i class="fa fa-check"></i> Пройду один с помощью Технолога</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> 35 000 руб./маршрут <br> построение 1 маршрута exeRace</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> от 2 500 руб./час <br> стоимость одного часа услуг Технолога</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer pb-35">
                                        <a class="btn btn-success btn-rounded btn-lg" href="#">Выбрать</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                                <div class="panel panel-pricing mb-0">
                                    <div class="panel-heading">
                                        <i class=" ti-crown"></i>
                                        <h6>Моя команда</h6>
                                    </div>
                                    <div class="panel-body text-center pl-0 pr-0 column">
                                        <hr class="mb-30"/>
                                        <ul class="list-group mb-0 text-center">
                                            <li class="list-group-item"><i class="fa fa-check"></i> Пройду командой с помощью Технолога</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> 35 000 руб./маршрут <br> построение 1 маршрута exeRace</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> 1 000 руб. / человек <br>стоимость подключения к конструктору одного участника команды</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> от 2 500 руб./час <br> стоимость одного часа услуг Технолога</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer pb-35">
                                        <a class="btn btn-success btn-rounded btn-lg" href="#">Выбрать</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-30">
                                <div class="panel panel-pricing mb-0">
                                    <div class="panel-heading">
                                        <i class=" ti-shield"></i>
                                        <h6>Все вместе</h6>
                                    </div>
                                    <div class="panel-body text-center pl-0 pr-0">
                                        <hr class="mb-30"/>
                                        <ul class="list-group mb-0 text-center">
                                            <li class="list-group-item"><i class="fa fa-check"></i> Пройду командой вместе с командами других компаний с помощью Технолога</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> 35 000 руб./маршрут <br> построение 1 маршрута exeRace</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> 1 000 руб. / человек <br>стоимость подключения к конструктору одного участника команды</li>
                                            <li><hr class="mt-5 mb-5"/></li>
                                            <li class="list-group-item"><i class="fa fa-check"></i> от 2 500 руб./час <br> стоимость одного часа услуг Технолога</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer pb-35">
                                        <a class="btn btn-success btn-rounded btn-lg" href="#">Выбрать</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
