<div class="container-fluid pt-25">

    <!-- Row -->
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="panel panel-default card-view  pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body  pa-0">
                        <div class="profile-box">
                            <div class="profile-cover-pic">
                                <div class="profile-image-overlay"></div>
                            </div>
                            <div class="profile-info text-center">
                                <div class="profile-img-wrap">
                                    <img class="inline-block mb-10" src="dist/img/mock1.jpg" alt="user"/>
                                    <div class="fileupload btn btn-default">
                                        <span class="btn-text">Редактировать</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-danger">Имя Фамилия</h5>
                            </div>
                            <div class="social-info">
                                <button class="btn btn-success btn-block"><span class="btn-text">Сохранить</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xs-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div  class="panel-body pb-0">
                        <div  class="tab-struct custom-tab-1">
                            <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_8">
                                <li role="presentation" class=""><a  data-toggle="tab" id="settings_tab_8" role="tab" href="#settings_8" aria-expanded="false"><span>Редактирование профиля</span></a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent_8">

                                <div  id="settings_8" class="tab-pane fade active in" role="tabpanel">
                                    <!-- Row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="">
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body pa-0">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="form-wrap">
                                                                <form action="#">
                                                                    <div class="form-body overflow-hide">
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-user"></i></div>
                                                                                <input type="text" class="form-control" id="inputLastName" placeholder="Фамилия">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-user"></i></div>
                                                                                <input type="text" class="form-control" id="inputName" placeholder="Имя">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-user"></i></div>
                                                                                <input type="text" class="form-control" id="inputSecondName" placeholder="Отчество">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-mail-open-file"></i></div>
                                                                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-phone"></i></div>
                                                                                <input type="email" class="form-control" id="inputContact" placeholder="Номер телефона">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-cash"></i></div>
                                                                                <input type="text" class="form-control" id="inputWork" placeholder="Место работы">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="pe-7s-browser"></i></div>
                                                                                <input type="text" class="form-control" id="inputAdress" placeholder="Личный сайт">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-actions mt-10">
                                                                        <button type="submit" class="btn btn-success mr-10 mb-30">Сохранить</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /Row -->

</div>