<div class="container-fluid">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <h5 class="txt-dark">Моя компания</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <form>
                <div class="form-group">
                    <select class="form-control select2">
                        <option>Выбирите пользователя</option>
                        <optgroup label="Список пользователей">
                            <option value="AK">Пример 1</option>
                            <option value="HI">Пример 2</option>
                        </optgroup>
                    </select>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <button class="btn btn-success" id="addToCompany">Пригласить</button>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Моя команда</h6>
                    </div>
                    <div id="datable_1_filter" class="dataTables_filter">
                        <label>Найти:
                            <input type="search" class="" placeholder="" aria-controls="datable_1">
                        </label>
                    </div>
                    <div class="clearfix">

                    </div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="datable_1" class="table table-hover display  pb-30" >
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Телефон</th>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Компания</th>
                                        <th>Управление</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Email</th>
                                        <th>Телефон</th>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Компания</th>
                                        <th>Управление</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr>
                                        <td>email@mail.com</td>
                                        <td>8976 544 45 45</td>
                                        <td>Иванов</td>
                                        <td>Иван</td>
                                        <td>Иванович</td>
                                        <td>Гугл инк.</td>
                                        <td>Управление</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

</div>