<div class="container-fluid">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-2 2 col-sm-2 col-xs-12">
            <h5 class="txt-dark">Мои файлы</h5>
        </div>
        <div class="addFile col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="">
                <div class="fileupload btn btn-warning btn-anim btn-block"><i class="fa fa-upload"></i><span class="btn-text">Дабавить файл</span>
                    <input type="file" class="upload">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <button class="btn btn-primary" id="addFile">Загрузить</button>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="datable_1" class="table table-hover display  pb-30" >
                                    <thead>
                                    <tr>
                                        <th>Тип</th>
                                        <th>Название</th>
                                        <th>Ссылка</th>
                                        <th>Управление</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Тип</th>
                                        <th>Название</th>
                                        <th>Ссылка</th>
                                        <th>Управление</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr>
                                        <td>пример Тип</td>
                                        <td>пример Название</td>
                                        <td>пример Ссылка</td>
                                        <td>пример Управление</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

</div>